<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
  <YouDoYouName>You Do You</YouDoYouName>
  <DisabledYouDoYouLong>Disable the mod and manually control the work tab</DisabledYouDoYouLong>
  <DisabledYouDoYouShort>Disable the mod</DisabledYouDoYouShort>
  <BrawlersCanHuntLong>Allows pawns with Brawler trait to hunt</BrawlersCanHuntLong>
  <BrawlersCanHuntShort>Allows Brawlers to hunt</BrawlersCanHuntShort>
  <YouDoYouPrioritiesCheckbox>Auto assign</YouDoYouPrioritiesCheckbox>
</LanguageData>