<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
  <YouDoYouName>You Do You</YouDoYouName>
  <DisabledYouDoYouLong>Disable the mod and manually control the work tab</DisabledYouDoYouLong>
  <DisabledYouDoYouShort>Disable the mod</DisabledYouDoYouShort>
  <BrawlersCanHuntLong>Allows pawns with Brawler trait to hunt</BrawlersCanHuntLong>
  <BrawlersCanHuntShort>Allows Brawlers to hunt</BrawlersCanHuntShort>
  <AdaptiveCleaningLong>Adjusts pawns cleaning priority based on their beauty need</AdaptiveCleaningLong>
  <AdaptiveCleaningShort>Allows for adaptive cleaning</AdaptiveCleaningShort>
  <AdaptiveHaulingLong>Adjusts pawns hauling priority based on their beauty need</AdaptiveHaulingLong>
  <AdaptiveHaulingShort>Allows for adaptive hauling</AdaptiveHaulingShort>
  <DontDisableAnythingLong>Do not disable any skills (allows manual assignment of any capable tasks)</DontDisableAnythingLong>
  <DontDisableAnythingShort>Do not disable any skills</DontDisableAnythingShort>
  <YouDoYouPrioritiesCheckbox>Auto assign</YouDoYouPrioritiesCheckbox>
</LanguageData>